################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Project/FileContentIndex
/.vs/Final Project/v17
